.student-bus-table-container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    box-shadow: 0px 0px 10px black;
    padding: 20px;
    background: #fff;
  }
  
  .student-bus-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 0.9em;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .student-bus-table th,
  .student-bus-table td {
    padding: 12px 15px;
    border: 1px solid #ddd;
  }
  
  .student-bus-table th {
    background-color: #f4f4f4;
    text-align: left;
  }
  
  .student-bus-table tbody tr {
    border-bottom: 1px solid #ddd;
  }
  
  .student-bus-table tbody tr:nth-of-type(even) {
    background-color: #f9f9f9;
  }
  
  .student-bus-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
  }
  